name: Playwright Tests
on:
  push:
    branches: [develop, master]
  pull_request:
    branches: [develop, master]
jobs:
  test:
    env:
      CI: "true"
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Enable Corepack
        run: corepack enable
      - name: Prepare Yarn via Corepack and install dependencies
        run: |
          corepack prepare yarn@4.9.2 --activate
          yarn install
      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps
      - name: Run Playwright tests
        run: yarn playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
